@model CinemaViewModel
@{
	string act;
}
@if (Model != null)
{
	act = Url.Action("ChangeCinema", "Admin", new { id = Model.Id });
}
else
{
	act = Url.Action("AddCinema", "Admin");
}

<div class="movie">

	<form enctype="multipart/form-data" method="post" action="@act">
		<text> Добавить фильм</text>
		<p><label>Ссылка на трейлер:</label><input type="text" name="refTrailer" value="@Model?.TrailerRef" /></p>
		<p><label>изображение:</label><input type="file" name="photoimage" /></p>
		<p><label>Название:</label><input type="text" name="name" value="@Model?.Name" /></p>
		<p><label>жанр:</label><input type="text" name="genre" value="@Model?.Genre" /></p>
		<p><label>страна:</label><input type="text" name="country" value="@Model?.Country" /></p>
		<p><label>минимальный возраст :</label><input type="number" name="age" value="@Model?.Age" /></p>
		<p><label>Описание:</label><input type="text" name="description" value="@Model?.Description" /></p>
		<p>
			<button type="submit">Отправить</button>
			<button type="reset">Отмена</button>
		</p>
	</form>


</div>