<div class="movie">
	<form method="get" action="@Url.Action("AddCinema", "Admin" )">
		<text> Добавить фильм</text>
		<p><label>Ссылка на трейлер:</label><input type="text" name="trailer" /></p>
		<p><label>изображение:</label><input type="file" name="image" /></p>
		<p><label>Название:</label><input type="text" name="nameOfMovie" /></p>
		<p><label>теги:</label><input type="text" name="tegsOfMovie" /></p>
		<p><label>Описание:</label><input type="text" name="descriptionOfMovie" /></p>
		<p>
			<button type="submit">Отправить</button>
			<button type="reset">Отмена</button>
		</p>
	</form>


</div>