@model Shelude;
<div class="movieShelude">
	<div class="room"> Зал @Model.RoomNumber </div>
	<div class="time"> @Model.DateTime.TimeOfDay.ToString()</div>
	<div class="price"> @Model.Cost.ToString(). </div>
	<div class="button">
		<form method="post" action="@Url.Action("DeleteFromShelude","Admin",new {id=Model.Id})">
			<p>  <button type="submit">Удалить</button> </p>
		</form>
	</div>
</div>
