<div class="movie">
	<a href="https://www.youtube.com/watch?v=RNksw9VU2BQ&ab_channel=%D0%A2%D1%80%D0%B5%D0%B9%D0%BB%D0%B5%D1%80%D1%8B%D0%BA%D1%84%D0%B8%D0%BB%D1%8C%D0%BC%D0%B0%D0%BC">
		<img class="imgOfMovie" src="images/lotr1.webp" alt="властелин колец">
	</a>
	<div class="information">
		<h3 class="nameOfMovie">колец властелин 1 </h3>
		<div class="tegsOfMovie"> теги, жанр, тип, 5 часов 50 минут</div>
		<div class="descriptionOfMovie">
			Описание Lorem ipsum, dolor sit amet consectetur adipisicing elit.
			Deleniti dolor possimus voluptatem autem enim nulla, qui quibusdam blanditiis quia error illum
			consequatur distinctio necessitatibus beatae. Molestiae velit aliquam quaerat veniam est odit iste
			minima, at esse rerum laudantium accusantium deserunt fugit ipsa hic numquam! Maiores voluptatibus
			omnis dolor minima aperiam?
		</div>

		<div class="shelude">



		</div>
	</div>
</div>